<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 uap10 desktop rescap">
  <Identity
    Name="KeilerHirsch.WOLPERTINGER.R0.Local"
    Publisher="CN=KeilerHirsch WOLPERTINGER R0 Local"
    Version="0.1.0.0"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>WOLPERTINGER R0</DisplayName>
    <PublisherDisplayName>KeilerHirsch</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.22000.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application
      Id="App"
      Executable="Wolpertinger.AppHost.exe"
      EntryPoint="Windows.FullTrustApplication"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        DisplayName="WOLPERTINGER"
        Description="Local-first Elite Dangerous companion"
        BackgroundColor="#101820"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" />
      <Extensions>
        <uap3:Extension Category="windows.protocol">
          <uap3:Protocol Name="wolpertinger" Parameters="--protocol &quot;%1&quot;">
            <uap:Logo>Assets\ProtocolLogo.png</uap:Logo>
            <uap:DisplayName>WOLPERTINGER Frontier callback</uap:DisplayName>
          </uap3:Protocol>
        </uap3:Extension>
        <desktop:Extension
          Category="windows.startupTask"
          Executable="Wolpertinger.AppHost.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="WolpertingerStartup"
            Enabled="false"
            DisplayName="WOLPERTINGER" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
